export(
forecast.gts,
forecast.hts,
plot.gts,
accuracy.gts,
hts,
gts,
allts,
combinef,
Smatrix
)

S3method(forecast,gts)
S3method(forecast,hts)
S3method(plot,gts)
S3method(accuracy,gts)
S3method(print,gts)
S3method(print,hts)

import(forecast)
import(SparseM)
import(grDevices)
importFrom(stats)